@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Poppins:wght@200&family=Ubuntu:ital,wght@1,300&display=swap" );

.App {
  text-align: center;
  font-family: "inter";
  color: rgb(98, 94, 94);
  padding-top: 20px;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 600px;
  margin: auto;
  border-bottom: 1px solid slategrey;
  border-top: 1px solid slategray;
  border-radius: 20px 20px  0 0;
}

.navbar h1 {
  color: salmon;
}

.navbar .links {
  margin-left: auto;
  height: 20px;
}

.navbar a {
  margin-left: 20px;
  text-decoration: none;
  padding: 6px;
}

.navbar a:hover {
  color: salmon;
}

.content {
  max-width: 600px;
  margin: 5px auto;
  padding: 20px;
}

.blog-preview {
  padding: 5px 8px;
  margin: 5px;
  border-bottom: 1px solid #fafafa;
}

.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}

.blog-preview h2 {
  font-size: 20px;
  color: coral;
}